.footer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    padding: 0 50px;
    margin-top: 30px;
    background: black;
    color: white;
    padding: 20px 30px;
}
.footer-about img{
    width: 70px;

}
.social-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.social-media-icon, .quick-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
.quick-links {
    gap: 1rem;
    text-align: left;        
}
.quick-links a{
    text-decoration:none;
    color: white;
    font-size: 18px;
    text-align: left;
}